table,td,tr,th{
    border:1px solid white;
    border-collapse:collapse;
    padding:12px;
    color: white;
    
 
    
}
body{
 background-image:url("download\ \(2\).jpg");
 background-size:cover;

}
table{
    border:5px groove white;
    text-align:center;
    margin:5% 25%;
    max-width:max-content;
    max-height:max-content;
  
    
}

h1{
    text-align:center;
    color: white;
    font-style: oblique;
}